---
permalink: /projects/
---
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Priyatham Kattakinda">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0">
    <meta name="description" content="Priyatham Kattakinda's projects">
    <link rel="icon" href="/assets/images/favicon.ico" sizes="16x16 32x32" type="image/png">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/projects.css">
    <title>Priyatham Kattakinda | Projects</title>
</head>

<body>
    {%- include nav.html -%}
    <h1>Projects</h1>
    <ul id="projects-list">
        {% assign projects = site.projects | sort: "ord" | reverse %}
        {% for project in projects %}
        <li class="project">
            <div class="project-title">
                <h2>{{ project.title }}</h2>
                <span class="nowrap">
                    <span class="when project-duration">{{ project.duration }}</span>
                    <span class="project-category">{{ project.category }}</span>
                </span>
            </div>
            <div class="project-authors">{{ project.authors }}</div>
            <div class="project-location">{{ project.location }}</div>
            {% if project.links or project.showPage %}
            <div class="project-links">
                {% for link in project.links %}
                {{ link }}
                {% endfor %}
                {% if project.showPage %}
                <a class="pink btn" href="{{ project.url }}">Project Page</a>
                {% endif %}
            </div>
            {% endif %}
            <div class="project-summary">
                {{ project.summary }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {%- include footer.html -%}
</body>

</html>