figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 750px) {
    img {
        width: 70%;
        height: 70%;
    }
}

figcaption {
    font-style: italic;
    text-align: center;
}

blockquote {
    padding-left: 0;
    text-align: center;
}