#article-list {
    margin-left: 0px;
    list-style-type: none;
}

#article-list a {
    text-decoration: underline;
}

.article-title {
    padding-bottom: 0px;
}

.article-title h1, .article-title h2 {
    margin: 0;
}