.info-card {
    padding-top: 25px;
    text-align: center;
}

.content {
    padding-bottom: 25px;
}

@media screen and (min-width: 1000px) {
    .info-card {
        float: left;
        padding-right: 20px;
        position: fixed;
    }
        
    .content {
        float: right;
        width: 60%;
    }
}

.headshot {
    border-radius: 150px;
    border: 2px solid silver;
}

#social {
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    #social {
        justify-content: center;
    }
}

#social li {
    margin: 0px 5px 0px 5px;
}

#social a {
    display: inline-block;
    font-size: 0.8em;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

#email-icon:hover {
    cursor: pointer;
}

#email {
    height: 1em;
}

.time-period {
   display: grid;
   grid-template-columns: 100px 12px 1fr;
}

.year {
    padding-right: 10px;
    text-align: right;
    grid-row: 1;
    font-size: 0.8em;
    padding-top: 2px;
}

.circle {
    width: 10px;
    height: 10px;
    background: var(--timeline-color);
    border: 2px solid white;
    border-radius: 20px;
    grid-row: 1;
    grid-column: 2;
    z-index: 2;
    margin-top: 3px;
}

#top-cover {
    height: 10px;
    width: 10px;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
    background: white;
}

.activity {
    padding-left: 15px;
    border-left: 2px solid var(--timeline-color);
    grid-column: 2 / 4;
    grid-row: 1;
    margin-left: 6px;
}

.activity p {
    margin-top: 0px;
}

.paper-title, .accomplishment-title {
    font-size: 1.1em;
    font-weight: 500;
}

.paper-supp {
    display: flex;
    margin: 10px auto 10px auto;
}

.paper-supp > a {
    margin-right: 10px;
}

.paper-supp > a:last-child {
    margin-right: 0px;
}

#course-list {
    list-style-type: disc;
    padding-left: 1em;
}

.accomplishment {
    margin-bottom: 10px;
}

i {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    border-bottom: solid 2px var(--highlight-color);
}