.info-card {
    text-align: center;
}

@media screen and (min-width: 1100px) {
    .info-card {
        float: left;
        padding-right: 20px;
        position: fixed;
        text-align: left;
    }
        
    .content {
        float: right;
        width: 60%;
    }
}

.headshot {
    width: 150px;
    border-radius: 80px;
    border: 2px solid silver;
}

#social {
    margin: 10px auto 10px auto;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
    #social {
        justify-content: center;
    }
}

#social li {
    margin: 2px 2px 2px 0px;
}

#social a {
    display: inline-block;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

#email:hover {
    cursor: pointer;
}

.time-period {
   display: grid;
   grid-template-columns: 80px 12px 1fr;
}

.year {
    padding-right: 10px;
    text-align: right;
    grid-row: 1;
    font-size: 0.8em;
}

.circle {
    width: 10px;
    height: 10px;
    background: var(--timeline-color);
    border: 2px solid white;
    border-radius: 20px;
    grid-row: 1;
    grid-column: 2;
    z-index: 1;
}

.activity {
    padding-left: 15px;
    border-left: 2px solid var(--timeline-color);
    grid-column: 2 / 4;
    grid-row: 1;
    margin-left: 6px;
}

.activity p {
    margin-top: 0px;
}

.logo {
    padding-left: 15px;
    grid-row: 1;
    grid-column: 4;
}

.logo img {
    width: 100px;
    padding-bottom: 15px;
}

.paper-title {
    font-size: 1.1em;
    font-weight: 500;
}

.paper-supp {
    display: block;
    margin-top: 16px;

}