h1 {
    font-weight: 700;
    border-bottom: solid 2px var(--highlight-color);
}

h3, h4 {
    color: var(--highlight-color);
}

#projects-list {
    margin-left: 0px;
    list-style-type: none;
}

.projects {
    margin-bottom: 20px;
}

.project:last-child {
    margin-bottom: 0px;
}

.project-title h1, .project-title h2 {
    margin: 0;
    display: inline;
}

.project-category {
    padding-left: 5px;
    font-size: 0.9em;
    color: green;
    font-weight: normal;
}

.project-category::before {
    content: "[";
}

.project-category::after {
    content: "]";
}

.project-summary {
    margin-top: 10px;
}

.project-summary > ul {
    list-style-type: disc;
    padding-left: 1em;
    margin-left: 0px;
}

.project-links {
    display: flex;
    margin: 10px 0px 10px 0px;
    justify-content: flex-start;
}

.project-links > a {
    margin-right: 10px;
}

.project-links > a:last-child {
    margin-right: 0px;
}