---
---
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Priyatham Kattakinda">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Priyatham Kattakinda's blog">
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.css %}
    <link rel="stylesheet" href="/assets/css/{{ page.css }}">
    {% endif %}
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

<body>
    {%- include nav.html -%}
    {%- include header.html -%}
    <div class="page-title">
        <time class="gray">{{ page.date | date: "%b %-d, %Y" }}</time>
        <h1>{{ page.title }}</h1>
        <p class="gray"><i>{{ page.summary }}</i></p>
    </div>
    {{ content }}
    {%- include footer.html -%}
</body>

</html>