body {
    margin: auto;
    padding: 5vh 0 5vh;
}

.content {
    position: relative;
    height: 90vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    width: 0 !important;
}

.headshot {
    width: 40%;
    margin: auto;
}

#navbar {
    padding: 0;
    margin: auto;
}

.nav {
    margin: auto;
}

#contact-list {
    padding-left: 0;
}

#contact-list > li {
    display: inline-block;
}

.sidebar {
    text-align: center;
}

h3 {
    color: #0074d9;
}

path {
    fill: #0074d9;
}

.project-item {
    border-bottom: 1px solid gray;
}
