@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --highlight-color: rgb(57, 96, 219);
    --timeline-color: rgb(152, 219, 132);
    --link-color: rgb(194, 50, 84);
    --text-color: rgb(32, 32, 32);
}

html {
    margin: auto;
    max-width: 1200px;
    padding: 15px;
}

body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
}

body a {
    color: var(--link-color);
    white-space: nowrap;
    text-decoration: none;
}

.btn {
    color: white;
    border-radius: 2px;
    padding: 5px;
}

.blue {
    background-color: var(--highlight-color);
}

.pink {
    background-color: var(--link-color);
}

.disabled {
    background-color: silver !important;
}